{% extends 'blogs/base.html' %}

{% block page_header %}
<h1>{{ blog.name }}</h1>
{% endblock page_header %}

{% block content %}
<p>
    <a href="{% url 'blogs:new_post' blog.id %}">Add a new post</a>
</p>
{% for post in posts %}
<div class="card mb-3">
    <!-- Card header with title and link -->
    <h4 class="card-header">
        {{ post.title }}
        <small>
            <a href="{% url 'blogs:post' post.id %}">
                view
            </a>
        </small>
    </h4>
    <!-- Card body with post content -->
    <div class="card-body">{{ post.content|linebreaks }}</div>
</div>
{% empty %}
<p>There are no posts in this blog yet.</p>
{% endfor %}
{% endblock content %}